/*
Author: Pawan
Date: Oct 21, 2018
File Name: style.css
Lisence: MIT
*/
/* 
* Fonts
*/
@font-face {
  font-family: Charmonman;
  font-style: normal;
  font-weight: 400;
  src:url("../..//assets/fonts/Charmonman-Regular.ttf");
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  src: url("../..//assets/fonts/Roboto-Regular.ttf");
}


/*
* Fonts End
*/

.icon-image{
    width: 160px;
    height: 60px;
}
.top-margin{
    margin-top: 90px;
}

.header-image{
    
    width: 400px;
}

.tetimonial-img{
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}